<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Super Awesome</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<style>
	/*    body    { padding-top:50px; }*/
	.require-class {
    color: rgba(240,34,38,1.00);
    font-size: 14px;
}
	</style>
</head>
