<% include ../partials/head %>
<% include ../partials/header %>
<div class="container">
  <h2>Student Registration</h2>
  <div class="panel panel-default">
    <div class="panel-body">
    	<form method="POST" id="registration-form" action="/post-register">
    	  <div class="form-group">
    	    <label for="f_name">First Name:</label>
    	    <input type="text" class="form-control" id="f_name" name="f_name" autocomplete="off" data-validation="required">
    	  </div>
    	  <div class="form-group">
    	    <label for="l_name">Last Name:</label>
    	    <input type="text" class="form-control" id="l_name" name="l_name" autocomplete="off" data-validation="required">
    	  </div>
    	  <div class="form-group">
    	    <label for="email">Email:</label>
    	    <input type="email" class="form-control" id="email" name="email" autocomplete="off" data-validation="email" data-validation="required">
    	  </div>
    	  <div class="form-group">
    	    <label for="school_name">School Name:</label>
    	    <input type="text" class="form-control" id="school_name" name="school_name" autocomplete="off" data-validation="required">
    	  </div>
    	  <div class="form-group">
    	    <label for="email">Class:</label>
    	    <input type="text" class="form-control" id="class" name="class" autocomplete="off" data-validation="required">
    	  </div>
    	  <div class="form-group">
    	    <label for="section">Section:</label>
    	    <input type="text" class="form-control" id="section" name="section" autocomplete="off" data-validation="required">
    	  </div>
    	  <div class="form-group">
    	    <label for="roll_no">Roll Number:</label>
    	    <input type="text" class="form-control" id="roll_no" name="roll_no" autocomplete="off" data-validation="required">
    	  </div>
    	  <div class="form-group">
    	    <label for="email">Profile Picture:</label>
    	    <input name="image" type="file">
    	  </div>
    	  <div class="form-group">
    	    <label for="email">Username:</label>
    	    <input name="username" class="form-control" data-validation="length alphanumeric" 
		 	data-validation-length="3-12" 
		 	data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)">
    	  </div>
    	  <button type="submit" class="btn btn-default">Submit</button>
    	  <input type="reset" value="Reset form">
    	</form>
    </div>
  </div>
</div>
<% include ../partials/footer %>
<script>
  $.validate();
  $('#my-textarea').restrictLength( $('#max-length-element') );
</script>