<% include ../partials/head %>
<% include ../partials/header %>
<div class="container">
  <h2>Dashboard</h2>
  <div class="panel panel-default">
    <div class="panel-body">A Basic Panel</div>
  </div>
</div>
<% include ../partials/footer %>
